<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/estilos.css}" />

<title>Game Database</title>
</head>


<nav class="cabecero">
	<ul class="princ">
	<li><a id="gestion" href="/"> <strong>Game List Management</strong></a></li>
	<li><a id="opciones" href="/"><strong>List options</strong></a>
		<ul class="nav">
			<li><a href="/publisher">Publisher list</a></li>
			<li><a href="/europe">Most sold games in Europe</a></li>
			<li><a href="/even">Games from even years</a></li>
			<li><a href="/sxx">20h Century games</a></li>
			<li><a href="">Games by genre</a>
				<ul>	
					<li><a href="/genre?genre=Action">Action</a></li>
					<li><a href="/genre?genre=Adventure">Adventure</a></li>
					<li><a href="/genre?genre=Shooter">Shooter</a></li>
					<li><a href="/genre?genre=Misc">Misc</a></li>
					<li><a href="/genre?genre=Platform">Plattform</a></li>
					<li><a href="/genre?genre=Sports">Sports</a></li>
					<li><a href="/genre?genre=Strategy">Strategy</a></li>
					<li><a href="/genre?genre=Puzzle">Puzzle</a></li>
					<li><a href="/genre?genre=Role-Playing">Role-Playing</a></li>
					<li><a href="/genre?genre=Racing">Racing</a></li>
					<li><a href="/genre?genre=Simulation">Simulation</a></li>
					<li><a href="/genre?genre=Fighting">Fighting</a></li>
					<li><a href="/genre?genre=&">Other</a></li>
				</ul>
			</li>
		</ul>
		</li>
	</ul>
	
</nav>

<body>

	<div class="container">

		<h1> LucaSteam <br/></h1>

		<h2>GAME DATABASE</h2>
		
		<p>
			<a href="/new" class="btn btn-primary">New game</a>
		</p>

		<table class="table table-striped">
			<tr>
				<th>Rank</th>
				<th>Name</th>
				<th>Platform</th>
				<th>Year</th>
				<th>Genre</th>
				<th>Publisher</th>
				<th>Sales Europe</th>
				<th>Options</th>
				
			</tr>
			<tr th:each="game, status : ${gameList}">
				<td th:text="${game.id}" />
				<td th:text="${game.name}" />
				<td th:text="${game.platform}" />
				<td th:text="${game.year}" />
				<td th:text="${game.genre}" />
				<td th:text="${game.publisher}" />
				<td th:text="${game.eu_Sales}" />
				
				<td style="width: 25%"><a th:href="@{/edit(id=${game.id})}"><img
						th:title="Edit +' '+ ${game.name}" src="/img/modificar.svg"
						height="5%" width="5%"></a> | <a
					th:href="@{/delete(id=${game.id})}"><img
						th:title="Delete +' '+ ${game.name}" src="/img/delete.svg"
						height="4%" width="4%"></a></td>
			</tr>

		</table>
		
	</div>
</body>
</html>
