<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/estilos.css}" />

<title>GameForm</title>
</head>
<body>

	<div class="container">
		<h1><br/>LucaSteam </h1>
		<h2>GAME FORM (add/edit)</h2>
		<div align="center">

			<form method="post" th:object="${game}" th:action="@{/save}">
				<input id="id" th:field="*{id}" type="hidden" />
				<table>
					<tr>
						<td><label for="name">Name:</label></td>
						<td>< type="text" th:field="*{name}" /></td>
					</tr>
					<tr>
						<td><label for="platform">Platform:</label></td>
						<td><input type="text" th:field="*{platform}" /></td>
					</tr>
					<tr>
						<td><label for="Year">Year:</label></td>
						<td><input type="number" th:field="*{year}" /></td>
					</tr>
					<tr>
						<td><label for="Genre">Genre:</label></td>
						<td><input type="text" th:field="*{genre}" /></td>
					</tr>
					<tr>
						<td><label for="publisher">Publisher:</label></td>
						<td><input type="text" th:field="*{publisher}" /></td>
					</tr>
					<tr>
						<td><label for="eu_Sales">Sales Europe:</label></td>
						<td><input type="number" th:field="*{eu_Sales}" /></td>
					</tr>
					
					<!-- 
					<tr>
						<td><label for="na_Sales">Sales North America:</label></td>
						<td><input type="number" th:field="*{na_Sales}" /></td>
					</tr>
					
					<tr>
						<td><label for="jp_Sales">Sales Japan:</label></td>
						<td><input type="number" th:field="*{jp_Sales}" /></td>
					</tr>
					<tr>
						<td><label for="other_Sales">Other sales:</label></td>
						<td><input type="number" th:field="*{other_Sales}" /></td>
					</tr>
					<tr>
						<td><label for="global_Sales">Global sales:</label></td>
						<td><input type="number" th:field="*{global_Sales}" /></td>
					</tr>
					 -->
					 
		
					
					<tr>
						<td colspan="2" align="center"><input type="submit"
							value="Save Game!"></td>
					</tr>
				</table>
			</form>

		</div>
	</div>
</body>
</html>
