<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/estilos.css}" />


<title>Game Database</title>
</head>


<nav class="cabecero">
	<ul class="princ">
	<li><a id="gestion" href="/"> <strong>Game List Management</strong></a></li>
	<li><a id="opciones" href="/"><strong>List options</strong></a>
		<ul class="nav">
			<li><a href="/publisher">Publisher list</a></li>
			<li><a href="/europe">Most sold games in Europe</a></li>
			<li><a href="/order">Games ordered by year</a></li>
			<li><a href="/even">Games from even years</a></li>
			<li><a href="/sxx">20h Century games</a></li>
			<li><a href="">Games by genre</a>
				<ul>	
					<li><a href="/genre?genre=Action">Action</a></li>
					<li><a href="/genre?genre=Adventure">Adventure</a></li>
					<li><a href="/genre?genre=Shooter">Shooter</a></li>
					<li><a href="/genre?genre=Misc">Misc</a></li>
					<li><a href="/genre?genre=Platform">Plattform</a></li>
					<li><a href="/genre?genre=Sports">Sports</a></li>
					<li><a href="/genre?genre=Strategy">Strategy</a></li>
					<li><a href="/genre?genre=Puzzle">Puzzle</a></li>
					<li><a href="/genre?genre=Role-Playing">Role-Playing</a></li>
					<li><a href="/genre?genre=Racing">Racing</a></li>
					<li><a href="/genre?genre=Simulation">Simulation</a></li>
					<li><a href="/genre?genre=Fighting">Fighting</a></li>
					<li><a href="/genre?genre=&">Other</a></li>
				</ul>
			</li>
		</ul>
		</li>
	</ul>
	
</nav>

<body>

	<div class="container">

		<h1> LucaSteam <br/></h1>
		<h3>GAME DATABASE</h3>
		<h2>GAME: <span th:text="${game.name}"></span></h2>
		<h3 align="left"> Description:</h3>
		
		<p>.</p>
		<p align="left"> The game was launched in <span th:text="${game.year}"></span> 
		by <span th:text="${game.publisher}"></span>. It ranks number <span th:text="${game.id}"></span> worldwide. 
	    It's revenue in the gaming market in Europe as of today amounts to <span th:text="${game.eu_Sales}"></span> million US.dollars. </p>
		<p>.</p>

		<table class="table table-striped">
			<tr>
				<th>Rank</th>
				<th>Platform</th>
				<th>Year</th>
				<th>Genre</th>
				<th>Publisher</th>
				<th>Sales Europe</th>
				<th>Sales North America</th>
				<th>Global Sales</th>				
			</tr>
			<tr>
			<tr th:object="${game}">
				<td th:text="${game.id}" />  
				<td th:text="${game.platform}" />
				<td th:text="${game.year}" />
				<td th:text="${game.genre}" />
				<td th:text="${game.publisher}" />
				<td th:text="${game.eu_Sales}" />
				<td th:text="${game.na_Sales}" />
				<td th:text="${game.global_Sales}" />			
			</tr>
		</table>
		
<title>GameForm</title>
</head>
<body>

	<div class="container">
		<h1><br/>LucaSteam </h1>
		<h2>GAME FORM (add/edit)</h2>
		<div align="center">

			<form method="post" th:object="${game}" th:action="@{/save}">
				<input id="id" th:field="*{id}" type="hidden" />
				<table>
					<tr>
						<td><label for="name">Name:</label></td>
						<td>< type="text" th:field="*{name}" /></td>
					</tr>
					<tr>
						<td><label for="platform">Platform:</label></td>
						<td><input type="text" th:field="*{platform}" /></td>
					</tr>
					<tr>
						<td><label for="Year">Year:</label></td>
						<td><input type="number" th:field="*{year}" /></td>
					</tr>
					<tr>
						<td><label for="Genre">Genre:</label></td>
						<td><input type="text" th:field="*{genre}" /></td>
					</tr>
					<tr>
						<td><label for="publisher">Publisher:</label></td>
						<td><input type="text" th:field="*{publisher}" /></td>
					</tr>
					<tr>
						<td><label for="eu_Sales">Sales Europe:</label></td>
						<td><input type="number" th:field="*{eu_Sales}" /></td>
					</tr>
					
					<!-- 
					<tr>
						<td><label for="na_Sales">Sales North America:</label></td>
						<td><input type="number" th:field="*{na_Sales}" /></td>
					</tr>
					
					<tr>
						<td><label for="jp_Sales">Sales Japan:</label></td>
						<td><input type="number" th:field="*{jp_Sales}" /></td>
					</tr>
					<tr>
						<td><label for="other_Sales">Other sales:</label></td>
						<td><input type="number" th:field="*{other_Sales}" /></td>
					</tr>
					<tr>
						<td><label for="global_Sales">Global sales:</label></td>
						<td><input type="number" th:field="*{global_Sales}" /></td>
					</tr>
					 -->
					 
		
					
					<tr>
						<td colspan="2" align="center"><input type="submit"
							value="Save Game!"></td>
					</tr>
				</table>
			</form>

		</div>
	</div>
</body>
</html>
