<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/estilos.css}" />

<title>GameForm</title>
</head>
<body>

	<div class="container">
		<h1>
			<br />GameForm
		</h1>
		<div align="center">
			<h2>GAME FORM (add/edit)</h2>

			<form method="post" th:object="${game}" th:action="@{/save}">
				<input id="id" th:field="*{id}" type="hidden" />
				<table>
					<tr>
						<td><label for="Name">Name:</label></td>
						<td><input type="text" th:field="*{Name}" /></td>
					</tr>
					<tr>
						<td><label for="Platform">Platform:</label></td>
						<td><input type="text" th:field="*{Platform}" /></td>
					</tr>
					<tr>
						<td><label for="Year">Year:</label></td>
						<td><input type="number" th:field="*{Year}" /></td>
					</tr>
					<tr>
						<td><label for="Genre">Genre:</label></td>
						<td><input type="text" th:field="*{Genre}" /></td>
					</tr>
					<tr>
						<td><label for="Publisher">Publisher:</label></td>
						<td><input type="text" th:field="*{Publisher}" /></td>
					</tr>
					<tr>
						<td><label for="Sales North America">NA_Sales:</label></td>
						<td><input type="number" th:field="*{NA_Sales}" /></td>
					</tr>
					<tr>
						<td><label for="Sales Europe">EU_Sales:</label></td>
						<td><input type="number" th:field="*{EU_Sales}" /></td>
					</tr>
					<tr>
						<td><label for="Sales Japan">JP_Sales:</label></td>
						<td><input type="number" th:field="*{JP_Sales}" /></td>
					</tr>
					<tr>
						<td><label for="Other sales">Other_Sales:</label></td>
						<td><input type="number" th:field="*{Other_Sales}" /></td>
					</tr>
					<tr>
						<td><label for="Global sales">Global_Sales:</label></td>
						<td><input type="number" th:field="*{Global_Sales}" /></td>
					</tr>

					<tr>
						<td colspan="2" align="center"><input type="submit"
							value="Save Game!"></td>
					</tr>
				</table>
			</form>

		</div>
	</div>
</body>
</html>
