<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/estilos.css}" />

<title>Game Database</title>
</head>
<body>

<nav class="cabecero">
	<ul class="princ">
	<li><a id="gestion" href="/"> <strong>Game List Management</strong></a></li>
	<li><a id="opciones" href="/"><strong>List options</strong></a>
		<ul class="nav">
			<li><a href="/publisher">Publisher list</a></li>
			<li><a href="/order">Order by year</a></li>
			<li><a href="/europe">Most sold games in Europe</a></li>
			<li><a href="/even">Games from even years</a></li>
			<li><a href="/sxx">20h Century games</a></li>
			<li><a href="">Games by genre</a>
				<ul>	
					<li><a href="/genre?genre=Action">Action</a></li>
					<li><a href="/genre?genre=Adventure">Adventure</a></li>
					<li><a href="/genre?genre=Shooter">Shooter</a></li>
					<li><a href="/genre?genre=Misc">Misc</a></li>
					<li><a href="/genre?genre=Platform">Plattform</a></li>
					<li><a href="/genre?genre=Sports">Sports</a></li>
					<li><a href="/genre?genre=Strategy">Strategy</a></li>
					<li><a href="/genre?genre=Puzzle">Puzzle</a></li>
					<li><a href="/genre?genre=Role-Playing">Role-Playing</a></li>
					<li><a href="/genre?genre=Racing">Racing</a></li>
					<li><a href="/genre?genre=Simulation">Simulation</a></li>
					<li><a href="/genre?genre=Fighting">Fighting</a></li>
					<li><a href="/genre?genre=&">Other</a></li>
				</ul>
			</li>
		</ul>
		</li>
	</ul>
	
</nav>

	<div class="container">

		<h1>
			LucaSteam <br />
		</h1>

		<h2>GAME DATABASE</h2>
		<h3>List of Game Publishers</h3>

		<p>
			<a href="/" class="btn btn-primary">Back to the game list</a>
		</p>

		<table class="table table-striped">
			<tr>
				<th>Publishers</th>
			</tr>
			<tr th:each="string, status : ${listPublishers}">
				<td th:text="${string}" />
			</tr>

		</table>

	</div>
</body>
</html>
